@model IEnumerable<MvcIBF.Models.ViewModels.CountryVM.CountryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
