@model IEnumerable<MvcIBF.Models.Movie_Friendship>

@{
    ViewData["Title"] = "Index";
}

<h1>Rekomendacje od Twoich znajomych</h1>


<table class="table">
    <thead>
        <tr>
            <th>Plakat</th>
            
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieTitle)
            </th>
            <th>
                Znajomy
            </th>

            <th>Komentarz</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Movie.Materials.FirstOrDefault() != null)
                    {
                        <img src="@item.Movie.Materials.First()" alt="Poster Picture" style="max-width: 10%; max-height: 10%;" />
                    }
                    else
                    {
                        <img src="https://motivatevalmorgan.com/wp-content/uploads/2016/06/default-movie.jpg" alt="Default Profile Picture" style="max-width: 10%; max-height: 10%;" />
                    }
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Friendship.ApplicationUser1.Email)
                </td>
                @if(item.Recommendation != null){
                <td>
                    @Html.DisplayFor(modelItem => item.Recommendation)
                </td>
                }else{
                    <td>Brak komentarza</td>
                }
                <td>
                    <a>@Html.ActionLink("Widziałem, przejdź do filmu i oceń", "Details", "Movies", new { id = item.MovieId }, null)</a>
                </td>                
                <td>
                    <form asp-action="Delete" asp-route-MovieId="@item.MovieId" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tę rekomendację?')">
                        <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
                        <input type="hidden" name="friendshipId" value="@item.FriendshipId" />
                        <button type="submit" class="btn btn-link">Usuń rekomendację</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
