@model IEnumerable<MvcIBF.Models.ViewModels.MoodVM.MoodVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoodName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoodName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MoodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MoodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
