@model IEnumerable<MvcIBF.Models.ViewModels.VODVM>

@{
    ViewData["Title"] = "Index";
}

<h1>VOD</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VodName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VodName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
