@model MvcIBF.Models.ViewModels.MovieVM.MovieVM

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VodNames)
        </dt>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VodNames)
        </dd>*@
        @if(Model.VodNames.Count()!=0){
        <dd class = "col-sm-10">
        
            @foreach(var item in Model.VodNames)
            {                
                    @item<text>&nbsp;</text>
                                             
            }
        </dd>
        }else{
             <dd class = "col-sm-10">Brak danych</dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoodNames)
        </dt>
        @if(Model.MoodNames.Count()!=0){
        <dd class = "col-sm-10">        
            @foreach(var item in Model.MoodNames)
            {                
            @item<text>&nbsp;</text>                          
            }
        </dd>
        }else{
             <dd class = "col-sm-10">Brak danych</dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreNames)
        </dt>
        @if(Model.GenreNames.Count()!=0){
        <dd class = "col-sm-10">        
            @foreach(var item in Model.GenreNames)
            {                
            @item<text>&nbsp;</text>                          
            }
        </dd>
        }else{
             <dd class = "col-sm-10">Brak danych</dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNames)
        </dt>
        @if(Model.CountryNames.Count()!=0){
        <dd class = "col-sm-10">        
            @foreach(var item in Model.CountryNames)
            {                
            @item<text>&nbsp;</text>                          
            }
        </dd>
        }else{
             <dd class = "col-sm-10">Brak danych</dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieId">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
